.container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.content {
  display: flex;
  width: 50vw;
  position: relative;
  flex-direction: column;
  margin-right: 15vw;
}

.backGround {
  height: 100vh;
  position: absolute;
  left: 0;
}

.container h4 {
  text-align: center;
  margin: 24px 0;
  font-family: roboto;
  text-transform: uppercase;
  font-size: 24px;
}
