.container {
  position: relative;
  display: flex;

  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-left: 20%;
  margin-top: 100px;
}

.backGround {
  height: calc(100vh - 45px);
  position: absolute;
  left: 0;
}
